<h1>Home#index</h1>
<% if current_user %>
  <%= link_to "Sign Out", :controller => "devise/sessions", :action => "destroy" %>
<% else %>
 <%= link_to "Sign Up", :controller => "devise/registrations", :action => "new" %> | 
 <%= link_to "Log In", :controller => "devise/sessions", :action => "create" %>
<% end %>
<p>Find me in app/views/home/index.html.erb</p>
