@import 'a_general';

.todo-item {
  padding:10px;
  border:1px solid $border-color;
  margin:2px;
  background-color:#fff;

  .item-controls {
    float:right;
  }
  
  &:hover {
    @include drop-shadow(2px, 3px, 0.10);
  }
}

.items-index {
  ul {
    list-style:none;
    margin:5;
    padding:10px;
  }
  li {
    height:45px;
    //border:1px solid red;
    margin:4px;
    overflow:hidden;
  }
}

.ui-item-placeholder {
  border:2px dashed $border-color-dark;
  background-color:#ededed;
}

.ui-draggable-dragging {
  @include drop-shadow();
  z-order:1000;
}

.error-explanation {
  color: #5e0303;
}

